{% extends 'main/base_index.html' %}

{% block title %}Про нас - SoulCraft{% endblock %}
{% load static %}

{% block content %}
<div class="sc-about-page">
    <div class="sc-about-container">
        <div class="sc-about-image">
            <img src="{% static 'main/img/i am.jpg' %}" alt="Галирина Анастасія, СЕО">
            <div class="sc-about-caption">Галирина Анастасія, СЕО</div>
        </div>
        <div class="sc-about-content">
            <h1 class="sc-about-title">Чому саме веб-додаток "Мій психолог"?</h1>
            <p class="sc-about-text">
                Швидка мета цього сайту – створення сайту для пошуку психологів. "Мій психолог" вирішує
                цілу низку проблем анонімності та доступності для клієнтів. Протягом всього часу
                існування – цілковите приховування даних клієнтів, що гарантує максимальну анонімність.
                <span>Проєкт працює на основі новітніх технологій, що дозволяють користувачам мати постійний доступ до
                системи, незалежно від їхнього місцезнаходження.</span>
            </p>
            <p class="sc-about-text">
                Окрім того, сайт активно розвивається і доповнюється. Ми прагнемо працювати в
                пошуку найкращих психологічних практик, що наразі існують. Можливість обрати
                спеціаліста, почитати реальні відгуки клієнтів, дивитися на рейтинг психологів.
            </p>
            <p class="sc-about-text">
                І головне, що наша платформа надає змогу тісного спілкування між користувачем
                та спеціалістом, що в свою чергу сприяє більш ефективному процесу лікування.
            </p>
        </div>
    </div>
</div>
{% endblock %}
