{% extends 'main/base_index.html' %}

{% block title %}Реєстрація - SoulCraft{% endblock %}
{% load static %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <h2 class="login-title">Реєстрація</h2>
        <form class="login-form" method="post"
            action="{% if specialist_id %}{% url 'registration_with_specialist' specialist_id %}{% else %}{% url 'registration_view' %}{% endif %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- Вивід помилок для поля -->
                {% if field.errors %}
                    <div class="errorlist">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="input-group">
                <button type="submit" class="submit-button">Зареєструватися</button>
            </div>
        </form>
        <p>Вже зареєстровані?
            <a href="{% if specialist_id %}{% url 'login_with_specialist' specialist_id %}{% else %}{% url 'login' %}{% endif %}">Увійти</a>
        </p>
    </div>
</div>
{% endblock %}
