.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
}

.form-section {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.form-section h2 {
    color: #333;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.form-section p, .form-section label {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.form-section input[type="date"],
.form-section input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.form-section button {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: #45a049;
}

#booking-response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #dff0d8; /* Light green background for success message */
    color: #3c763d; /* Dark green text for success message */
    width: 100%;
    text-align: center;
}
