.horizontal-container {
  display: flex; /* Встановлюємо flex контейнер */
  flex-wrap: wrap; /* Дозволяємо елементам переходити на новий рядок */
  gap: 40px; /* Відстань між вкладеними контейнерами */
  background: #fcf7f7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}


.cards-container {
  display: flex;
  flex-wrap: wrap; /* Карточки будуть переходити на наступний рядок */
  justify-content: flex-start; /* Вирівнювання карточок зліва на право */
  align-items: flex-start; /* Вертикальне вирівнювання карточок по початку */
  gap: 40px; /* Відстань між карточками */
  margin: 20px 70px 10px; /* Відстань зверху, зправа, зліва та знизу для контейнера */
  max-width: 1200px; /* Максимальна ширина контейнера */
  width: 100%; /* Ширина контейнера займатиме весь доступний простір */
}


.card {
  width: 400px; /* Фіксована ширина карточки */
  height: 800px; /* Висота автоматично адаптується до вмісту */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px; /* Відступ знизу між карточками */
}


  .card-header img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-body {
    padding: 20px;
    text-align: center;
  }

  .name {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  .title {
    margin-bottom: 15px;
    color: #888888;
    font-size: 1em;
  }

  .rating {
    margin-bottom: 15px;
  }

  .rating .reviews {
    color: #888888;
    font-size: 0.8em;
  }

  .description {
    margin-bottom: 20px;
    font-size: 0.9em;
    line-height: 1.6;
    color: #333;
  }

  .card-footer {
  text-align: center;
  padding: 15px 20px;
  background: #f7f7f7;
  border-top: 1px solid #e0e0e0;  /* додаємо лінію відділення від основного вмісту */
  margin-top: auto;  /* забезпечує, що футер завжди знаходиться внизу карточки, незалежно від вмісту */
}



